{% extends "admin/layout_admin.njk" %}

{% block content %}

    <div class="index-title">
        <h4> Gerenciar chefs </h4>
    </div>

    <div class="button-add"><a href="/admin/chefs/create"> Adicionar Chefs </a></div>

{% endblock %}