<button type="submit" class="button-save">Salvar</button>
        <div class="img-url">
            <p>Imagem da receita</p>
            <input type="url" name="img_url" value="{{recipe[index].img_url}}">
        </div>
        <div class="titulo_receita">
            <p>Título da Receita</p>
            <input type="text" name="titulo_receita" value="{{recipe[index].titulo_receita}}">
        </div>
        <div class="chef_name">
            <p>Nome do Chef</p>
            <input type="text" name="chef_name" value="{{recipe[index].chef_name}}">
        </div>
        <div class="ingredients">
            <p>Ingredientes</p>
            <div class="ing">
                {% if recipe %}
                    {% for ingrediente in recipe[index].ingredientes %}
                        <input type="text" name="ingredientes[]" value="{{ingrediente}}">
                    {% endfor %}
                {% else %}
                    <input type="text" name="ingredientes[]">
                {% endif %}
            </div>
        </div>
        <a class="p2">Adicionar novo ingrediente</a>
        <div class="passo-preparo">
            <p>Modo de Preparo</p>
            <div class="prep">
                {% if recipe %}
                    {% for passo in recipe[index].passo %}
                        <input type="text" name="passo[]" value="{{ passo }}">
                    {% endfor %}
                {% else %}
                    <input type="text" name="passo[]">
                {% endif %}
            </div>
        </div>
        <a class="p3">Adicionar novo passo</a>
        <div class="info-add">
            <p>Informações Adicionais</p>
            <textarea name="informations">{{recipe[index].informations}}</textarea>
        </div>