{% extends "layout_admin.njk" %}

{% block content %}

    <main id="page-r">
        <div id="apresentation">

        <div class="button-add button-edit"><a href="/admin/recipes/{{ index }}/edit"> Editar </a></div>

            <div class="layout-img">
                <img src="{{items[index].img_url}}" alt=""/>
            </div>
            <div class="tittle-r">
                {{items[index].titulo_receita}}
            </div>
            <div class="chef">
                {{items[index].chef_name}}
            </div>
        </div>
        <div class="ingredientes details" >
            <div class="ingre-tittle">
                <h1>Ingredientes</h1> 
                <a>ESCONDER</a>
            </div>
            <div class="content hiden">
                <ul>
                 {% for ingredient in items[index].ingredientes %}
                 <li>{{ingredient}}</li> 
                 {% endfor %}
                </ul>
            </div>
        </div>
        <div class="preparo details">
            <div class="ingre-tittle">
                <h1>Modo de Preparo</h1>
                <a>ESCONDER</a>
            </div>
            <div class="content hiden">
                {% for preparation in items[index].passo %}    
                <p>{{preparation}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="info details">
            <div class="ingre-tittle">
                <h1>Informações Adicionais</h1>
                <a>ESCONDER</a>
            </div>
            <div class="content hiden">
                <p> {{items[index].informations}} </p>
            </div>
        </div>
    </main>
{% endblock %}