<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="receitas foodfy">
    <link rel="stylesheet" href="/styles.css">
    <title>Foodfy</title>
</head>

<body>
<header>
    <div id="menu-admin">
        <a href="/admin"><img src="/_imgs/logo_w.png" id="logo" alt="logo foodfy"/></a> 
    </div>
</header>

    {% block content %} {% endblock %}

    <script src="/scripts.js"></script>
</body>

</html>