{% extends "layout.njk" %}

{% block content %}

    <div id="container-receipes" class="main-receipes">
        <!-- <div class="main-receipes"> -->
            <a href="">
                <div id="_imgs/burger.png" class="receipe" >
                    <div class="images">
                        <img src="_imgs/burger.png"  alt="burger">
                    </div>
                    <div id="Triplo Bacon Burger" class="plate">
                        <p>
                            Triplo Bacon Burger
                        </p>
                    </div>
                    <div id="por Jorge Relato" class="name">
                        <p>
                            por Jorge Relato
                        </p>
                    </div>
                </div>
            </a>
    
            <a href="">
                <div id="_imgs/pizza.png" class="receipe" >
                    <div class="images">
                        <img src="_imgs/pizza.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        <p>
                            Pizza 4 Estações
                        </p>
                    </div>
                    <div class="name">
                        <p>
                            Por Fabiana Melo
                        </p>
                    </div>
                </div>
            </a>
    
            <a href="">
                <div id="_imgs/asinhas.png" class="receipe" >
                    <div class="images">
                        <img src="_imgs/asinhas.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        <p>
                            Asinhas ao Molho Barbecue
                        </p>
                    </div>
                    <div class="name">
                        <p>
                            por Júlia Kinoto
                        </p>
                    </div>
                </div>
            </a>
    
            <a href="">
                <div id="_imgs/espaguete.png" class="receipe" >
                    <div class="images">
                        <img src="_imgs/espaguete.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        <p>
                            Espaguete ao Molho
                        </p>
                    </div>
                    <div class="name">
                        <p>
                            por Vania Steroski
                        </p>
                    </div>
                </div>
            </a>
    
            <a href="">
                <div id="_imgs/doce.png" class="receipe" >
                    <div class="images">
                        <img src="_imgs/doce.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        <p>
                            Docinhos Pão-do-céu
                        </p>
                    </div>
                    <div class="name">
                        <p>
                            por Ricardo Golvea
                        </p>
                    </div>
                </div>
            </a>
    
            <a href="">
                <div id="_imgs/lasanha.png" class="receipe" >
                    <div class="images">
                        <img src="_imgs/lasanha.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        <p>
                            Lasanha Mac'n'Cheese
                        </p>
                    </div>
                    <div class="name">
                        <p>
                            por Juliano Vieira
                        </p>
                    </div>
                </div>
            </a>

            <a href="">
                <div id="burguer2" class="receipe" >
                    <div class="images">
                        <img src="_imgs/burger.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        Triplo Bacon Burger
                    </div>
                    <div class="name">
                        por Jorge Relato
                    </div>
                </div>
            </a>
    
            <a href="">
                <div id="pizza2" class="receipe" >
                    <div class="images">
                        <img src="_imgs/pizza.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        Pizza 4 Estações
                    </div>
                    <div class="name">
                        por Fabiana Melo
                    </div>
                </div>
            </a>
    
            <a href="">
                <div id="asinhas2" class="receipe" >
                    <div class="images">
                        <img src="_imgs/asinhas.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        Asinhas ao Molho Barbecue
                    </div>
                    <div class="name">
                        por Júlia Kinoto
                    </div>
                </div>
            </a>

            <a href="">
                <div id="espaguete2" class="receipe" >
                    <div class="images">
                        <img src="_imgs/espaguete.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        Espaguete ao Molho
                    </div>
                    <div class="name">
                        por Vania Steroski
                    </div>
                </div>
            </a>
    
            <a href="">
                <div id="doce2" class="receipe" >
                    <div class="images">
                        <img src="_imgs/doce.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        Docinhos Pão-do-céu
                    </div>
                    <div class="name">
                        por Ricardo Golvea
                    </div>
                </div>
            </a>
    
            <a href="">
                <div id="lasanha2" class="receipe" >
                    <div class="images">
                        <img src="_imgs/lasanha.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        Lasanha Mac'n'Cheese
                    </div>
                    <div class="name">
                        <p>
                            <p>
                                por Juliano Vieira
                            </p>
                        </p>
                    </div>
                </div>
            </a>
        <!-- </div> -->
    </div>

    <div class="modal-overlay">

        <div class="modal">

            <div class="img-modal">
                <img src="" alt="">
            </div>
            <div class="tittle-modal">
                
            </div>
            <div class="chef-modal">
                 
            </div>
            <div class="close-modal" id="buttom-close">
                <a href="">Fechar</a>
            </div>

        </div>

    </div>
    <script src="scripts.js"></script>
    
{% endblock %}