<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="receitas foodfy">
    <link rel="stylesheet" href="/styles.css">
    <title>Foodfy</title>
</head>

<body>
<header>
    <div id="menu-admin">
        <a href="/admin"><img src="/_imgs/logo_w.png" id="logo" alt="logo foodfy"/></a>
        <nav>
            <ul>
                <li><a href="/admin/recipes">RECEITAS</a></li>
                <li><a href="/admin/chefs">CHEFS</a></li>
            </ul>
        </nav> 
    </div>
</header>

    {% block content %} {% endblock %}

    <script src="/scripts.js"></script>

    <script>
        const currentPage = location.pathname
        const menuItems = document.querySelectorAll("#menu-admin a")

        for (item of menuItems) {
            if (currentPage.includes(item.getAttribute("href"))) {
                item.classList.add("active")
            }
        }
    </script>

</body>
</html>