{% extends "layout_admin.njk" %}

{% block content %}

    <div class="index-title">
        <h4> Gerenciar receitas </h4>
    </div>

    <div class="button-add"><a href="/admin/recipes/create"> Adicionar Receita </a></div>

    <div class="index-recipes">

        {% for recipe in recipes %}
        
        <div class="index-recipe">
            <div class="recipe-image">
                <div class="images"><img src="{{recipe.img_url}}" alt=""></div>
            </div>
            <div class="recipe-text">
                <div class="plate">{{recipe.titulo_receita}}</div>
                <div class="name">{{recipe.chef_name}}</div>
                <div class="visualizar"><a href="">Visualizar</a></div>
            </div>
        </div>

        {% endfor %}

    </div>

<script>

const recipes = document.querySelectorAll('.index-recipe')
const details = document.querySelectorAll('.details')

for (const [index, recipe] of recipes.entries()) {

    recipe.addEventListener("click", function(){
        event.preventDefault()
        window.location.href = `/admin/recipe/${index}`
    })
}

</script>

{% endblock content %}