{% extends "site/layout.njk" %}

{% block content %}

    <main>
        <section id="container">
            <div id="description">
                <div class="text">
                    <h1>As melhores receitas</h1>
                </div>
                <div class="text">
                    <h3>Aprenda a construir os melhores pratos
                        com receitas criadas por profissionais
                        do mundo inteiro.</h3>
                </div>
            </div>
            <div id="chef">
                <img src="_imgs/chef.png" alt="chef foodfy">
            </div>
        </section>    
        
        <div id="receipes">
    
            <div class="main-receipes">
                <div class="receipe">
                    <div class="images">
                        <img src="_imgs/burger.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        Triplo Bacon Burger
                    </div>
                    <div class="name">
                        por Jorge Relato
                    </div>
                </div>
        
                <div class="receipe">
                    <div class="images">
                        <img src="_imgs/pizza.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        Pizza 4 Estações
                    </div>
                    <div class="name">
                        por Fabiana Melo
                    </div>
                </div>
        
                <div class="receipe">
                    <div class="images">
                        <img src="_imgs/asinhas.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        Asinhas ao Molho Barbecue
                    </div>
                    <div class="name">
                        por Júlia Kinoto
                    </div>
                </div>
        
                <div class="receipe">
                    <div class="images">
                        <img src="_imgs/espaguete.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        Espagutete ao Molho
                    </div>
                    <div class="name">
                        por Vania Steroski
                    </div>
                </div>
        
                <div class="receipe">
                    <div class="images">
                        <img src="_imgs/doce.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        Docinhos Pão-do-céu
                    </div>
                    <div class="name">
                        por Ricardo Golvea
                    </div>
                </div>
        
                <div class="receipe">
                    <div class="images">
                        <img src="_imgs/lasanha.png"  alt="asinhas">
                    </div>
                    <div class="plate">
                        Lasanha Mac'n'Cheese
                    </div>
                    <div class="name">
                        por Juliano Vieira
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}