<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="receitas foodfy">
    <link rel="stylesheet" href="/styles.css">
    <title>Foodfy</title>
</head>

<body>
<header>
    <div id="menu">
        <a href="/"><img src="/_imgs/logo_b.png" id="logo" alt="logo foodfy"/></a>  
        <nav>
            <ul>
                <li><a href="/site/about">Sobre</a></li>
                <li><a class="aRecipe" href="/site/recipes">Receitas</a></li>
                <li><a href="/site/chefs">Chefs</a></li>
            </ul>

            <form class="buscar-receita" action="/site/search" method="get">
            
                <input class="buscar" type="text" name="filter" value="{{filter}}" placeholder="Buscar uma receita">
                <button type="submit" class="button-save">Buscar</button> 

            </form>

        </nav>
    </div>
</header>

    {% block content %} {% endblock %}

    <footer class="footer" >
        <p>
            Todos direitos reservados, receitas Foodfy.
        </p>
    </footer>
    <script src="/scripts.js"></script>

    <script>
        const currentPage = location.pathname
        const menuItems = document.querySelectorAll("#menu a")
    
        for (item of menuItems) {
            if (currentPage.includes(item.getAttribute("href"))) {
                item.classList.add("active")
            }
        }

        const formBuscar = document.querySelector(".buscar-receita")

        if (currentPage.includes("chefs")) {
            formBuscar.classList.add("alert-hiden")
        }
        
    </script>

</body>

</html>