{% extends "site/layout.njk" %}

{% block content %}
    
    <main id="page-r">
        <div id="apresentation">
            <div class="layout-img">
                <img src="{{recipe.image}}" alt=""/>
            </div>
            <div class="tittle-r">
                {{recipe.title}}
            </div>
            <div class="chef_name">
                {{recipe.chef_name}}
            </div>
        </div>
        <div class="ingredientes details" >
            <div class="ingre-tittle">
                <h1>Ingredientes</h1> 
                <a>ESCONDER</a>
            </div>
            <div class="content hiden">
                <ul>
                 {% for ingredient in recipe.ingredients %}
                 <li>{{ingredient}}</li> 
                 {% endfor %}
                </ul>
            </div>
        </div>
        <div class="preparo details">
            <div class="ingre-tittle">
                <h1>Modo de Preparo</h1>
                <a>ESCONDER</a>
            </div>
            <div class="content hiden">
                {% for preparation in recipe.preparation %}    
                <p>{{preparation}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="info details">
            <div class="ingre-tittle">
                <h1>Informações Adicionais</h1>
                <a>ESCONDER</a>
            </div>
            <div class="content hiden">
                <p> {{recipe.information}} </p>
            </div>
        </div>
    </main>
{% endblock %}