{% extends "layout.njk" %}

{% block content %}

    <div class="index-title">
        <h4> Receitas </h4>
    </div>
    <div class="index-recipes">

        {% for recipe in recipes %}
        
        <div class="index-recipe">
            <div class="recipe-image">
                <div class="images"><img src="{{recipe.img_url}}" alt=""></div>
            </div>
            <div class="recipe-text">
                <div class="plate">{{recipe.titulo_receita}}</div>
                <div class="name">{{recipe.chef_name}}</div>
                <div class="visualizar"><a href="">Visualizar</a></div>
            </div>
        </div>

        {% endfor %}

<script>

const recipes = document.querySelectorAll('.index-recipe')
const details = document.querySelectorAll('.details')

for (const [index, recipe] of recipes.entries()) {

    recipe.addEventListener("click", function(){
        event.preventDefault()
        window.location.href = `/site/recipe/${index}`
    })
}

</script>

    </div>  
    
    </div>
{% endblock %}