{% extends "layout.njk" %}

{% block content %}

    <div id="container-receipes" class="main-receipes">

        {% for recipe in recipes %}
        <a href="">
            <div id="{{recipe.image}}" class="receipe" >
                <div class="images">
                    <img src="{{recipe.image}}"  alt="{{ recipe.title }}">
                </div>
                <div id="{{ recipe.title }}" class="plate">
                    <p>
                        {{ recipe.title }}
                    </p>
                </div>
                <div id="{{ recipe.author }}" class="name">
                    <p>
                        {{ recipe.author }}
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
    
    </div>
{% endblock %}