{% extends "admin/layout_admin.njk" %}

{% block content %}

<div class="create-layout">

    <form id="form-delete" action="/admin/recipes/?_method=DELETE" method="POST">
        <button type="submit" class="button-delete">Deletar</button>
        <input type="hidden" name="id" value="{{ recipe.id }}">
    </form>

    <form class="form" action="/admin/recipes/?_method=PUT" method="POST">
    <p class="p1">Editando receita</p>
    
    <input type="hidden" name="id" value="{{ recipe.id }}">

    {% include 'admin/recipes/fields.njk' %}
    
    </form>

</div>
{% endblock %}
