<button type="submit" class="button-save">Salvar</button>
        <div class="img-url">
            <p>Imagem da receita</p>
            <input type="url" name="image" value="{{recipe.image}}">
        </div>
        <div class="titulo_receita">
            <p>Título da Receita</p>
            <input type="text" name="title" value="{{recipe.title}}">
        </div>
        <div class="chef_name">
            <p>Nome do Chef</p>
            <select name="chef_id">
                    <option>Selecione um Chef</option>                    
                {% for chef in chefOptions %}
                    <option value="{{chef.id}}" {% if recipe.chef_id == chef.id  %} selected {% endif %}>{{chef.chef_name}}</option>                    
                {% endfor %}
            </select>
        </div>
        <div class="ingredients">
            <p>Ingredientes</p>
            <div class="ing">
                {% if recipe %}
                    {% for ingredient in recipe.ingredients %}
                        <input type="text" name="ingredients[]" value="{{ingredient}}">
                    {% endfor %}
                {% else %}
                    <input type="text" name="ingredients[]">
                {% endif %}
            </div>
        </div>
        <a class="p2">Adicionar novo ingrediente</a>
        <div class="passo-preparo">
            <p>Modo de Preparo</p>
            <div class="prep">
                {% if recipe %}
                    {% for preparation in recipe.preparation %}
                        <input type="text" name="preparation[]" value="{{ preparation }}">
                    {% endfor %}
                {% else %}
                    <input type="text" name="preparation[]">
                {% endif %}
            </div>
        </div>
        <a class="p3">Adicionar novo passo</a>
        <div class="info-add">
            <p>Informações Adicionais</p>
            <textarea name="information">{{recipe.information}}</textarea>
        </div>
