{% extends "admin/layout_admin.njk" %}

{% block content %}

    <div class="index-title">
        <h4> Gerenciar receitas </h4>
    </div>

    <div class="button-add"><a href="/admin/recipes/create"> Adicionar Receita </a></div>

    <div class="index-recipes">

        {% for recipe in recipes %}
        
        <div class="index-recipe">
            <div class="recipe-image">
                <img src="{{recipe.image}}">
            </div>
            <div class="recipe-text">
                <div class="plate">{{recipe.title}}</div>
                <div class="name">{{recipe.chef_name}}</div>
                <div class="visualizar"><a href="/admin/recipes/{{ recipe.id }}">Visualizar</a></div>
            </div>
        </div>

        {% endfor %}

    </div>

{% endblock %}