<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="receitas foodfy">
    <link rel="stylesheet" href="/styles.css">
    <title>Foodfy</title>
</head>

<body>
<header>
    <div id="menu">
        <a href="/"><img src="/_imgs/logo_b.png" id="logo" alt="logo foodfy"/></a>  
        <nav>
            <ul>
                <li><a href="/site/about">Sobre</a></li>
                <li><a class="aRecipe" href="/site/recipes">Receitas</a></li>
                <li><a href="/site/chefs">Chefs</a></li>
            </ul>

        </nav>
    </div>
</header>

    <div class="container">
        <div>
            <div class="notfound">
                <h1>404</h1>
                <h2>PAGE NOT FOUND</h2>
            </div>
                <div class="error">
                <img src="_imgs/404.png" alt="chef foodfy">
            </div>
        </div>
    </div>    


</body>

</html>